p {
    text-align: justify;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 5% 1fr ;
    
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: justify;
}

.vertical-line{

    border-left:1px solid gainsboro;
    height:100%;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto 2fr ;
}
.w3-container{

    height:24px;
    width:60% ;
    font-size: 14px; 
    color: gray;
}

.container-img{

    width: 30%;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #bd5d38;
}



.container-fluid{

    top: 0;
    padding-top: 0%

}